<section id="music">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Music</h2>
                <hr class="primary">
                <h4>Click artwork to play tracks</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row music__artwork">

        <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-lg-offset-right-4 col-sm-offset-3 col-sm-offset-right-3">
                <a target="_blank" class="portfolio-box music__link" id="music__link--mandy">
                    <img src="{{cdn}}/img/music/mandy.jpg" class="img-responsive" alt="mandy artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Single
                            </div>
                            <div class="project-name">
                                Mandy
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/Mandy.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#mandy">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--alligator">
                    <img src="{{cdn}}/img/music/alligator.jpg" class="img-responsive" alt="alligator artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                Alligator
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/Alligator.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#alligator">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--duality">
                    <img src="{{cdn}}/img/music/duality.jpg" class="img-responsive" alt="duality artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                Duality
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/Duality.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#duality">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--eastboundstrip">
                    <img src="{{cdn}}/img/music/eastboundstrip.jpg" class="img-responsive" alt="eastbound strip artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                Eastbound Strip
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/EastboundStrip.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#eastboundstrip">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--legacies">
                    <img src="{{cdn}}/img/music/legacies.jpg" class="img-responsive" alt="legacies artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                Legacies
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/Legacies.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#legacies">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--fornow">
                    <img src="{{cdn}}/img/music/fornow.jpg" class="img-responsive" alt="for now artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                For Now
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/ForNow.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#fornow">Lyrics</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a target="_blank" class="portfolio-box music__link" id="music__link--youcanbet">
                    <img src="{{cdn}}/img/music/youcanbet.jpg" class="img-responsive" alt="you can bet artwork">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Sessions
                            </div>
                            <div class="project-name">
                                You Can Bet
                            </div>
                        </div>
                    </div>
                </a>
                <div class="music__artwork--download">
                    <a download class="btn btn-primary" href="{{cdn}}/music/YouCanBet.mp3">Download</a>
                    <a class="btn btn-primary" href="lyrics/#youcanbet">Lyrics</a>
                </div>
            </div>

        </div>
    </div>
</section>

<hr style="max-width: 100%">
