    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="seo">Arcadian band from St Albans</h1>
                <img class="logo-main" src="{{cdn}}img/arcadian-long-logo.png" alt="arcadian logo">
                <hr>
                <a href="merch/" class="btn btn-primary btn-xl page-scroll">Merch</a>
                <a href="events/" class="btn btn-primary btn-xl page-scroll">Events</a>
            </div>
        </div>
    </header>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About us</h2>
                    <hr class="light">
                    <p class="text-faded">
                        What is there to tell you about Arcadian? We crave that feeling when we're up on stage, sweat dripping and we can see each and every person in the crowd buzzing.<br />
                        That's why we do what we do.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Music</h2>
                    <hr class="primary">
                    <h4>Click artwork to play tracks</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row music__artwork">

            <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-lg-offset-right-4 col-sm-offset-3 col-sm-offset-right-3">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--mandy">
                        <img src="{{cdn}}img/music/mandy.jpg" class="img-responsive" alt="mandy artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mandy
                                </div>
                                <div class="project-name">
                                    Single
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="http://cdn.arcadian.band/live/music/Mandy.mp3">Download</a>
                        <!-- <a class="btn btn-primary" href="lyrics/#mandy">Lyrics</a> -->
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--alligator">
                        <img src="{{cdn}}img/music/alligator.jpg" class="img-responsive" alt="alligator artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Alligator
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/Alligator.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#alligator">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--duality">
                        <img src="{{cdn}}img/music/duality.jpg" class="img-responsive" alt="duality artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Duality
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/Duality.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#duality">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--eastboundstrip">
                        <img src="{{cdn}}img/music/eastboundstrip.jpg" class="img-responsive" alt="eastbound strip artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Eastbound Strip
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/EastboundStrip.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#eastboundstrip">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--legacies">
                        <img src="{{cdn}}img/music/legacies.jpg" class="img-responsive" alt="legacies artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Legacies
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/Legacies.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#legacies">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--fornow">
                        <img src="{{cdn}}img/music/fornow.jpg" class="img-responsive" alt="for now artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    For Now
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/ForNow.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#fornow">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" class="portfolio-box music__link" id="music__link--youcanbet">
                        <img src="{{cdn}}img/music/youcanbet.jpg" class="img-responsive" alt="you can bet artwork">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    You Can Bet
                                </div>
                                <div class="project-name">
                                    Live Sessions
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="https://cdn.arcadian.band/music/YouCanBet.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#youcanbet">Lyrics</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <hr style="max-width: 100%">

<section id="social" style="padding-bottom: 100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Social media</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://www.facebook.com/officialarcadian">
                        <div class="service-box">
                            <i class="fa fa-4x fa-facebook wow bounceIn text-primary" id="social__link--facebook"></i>
                            <h3>Facebook</h3>
                            <p class="text-muted">Learn about our upcoming gigs</p><br />
                            <div class="fb-like" data-href="https://www.facebook.com/officialarcadian" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://soundcloud.com/arcadianband">
                        <div class="service-box">
                            <i class="fa fa-4x fa-soundcloud wow bounceIn text-primary" id="social__link--soundcloud"></i>
                            <h3>Soundcloud</h3>
                            <p class="text-muted">Listen to our music</p><br />
                            <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Farcadianband&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://twitter.com/UKArcadian">
                        <div class="service-box">
                                <i class="fa fa-4x fa-twitter wow bounceIn text-primary" id="social__link--twitter"></i>
                            <h3>Twitter</h3>
                            <p class="text-muted">View our latest tweets</p><br />
                            <a href="https://twitter.com/ukarcadian" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @arcadian</a>
                        </div>
                    </a>
                </div>

                &nbsp;

                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://www.youtube.com/channel/UCpjA5A62NtsJF7p-TWBXO_A">
                        <div class="service-box">
                            <i class="fa fa-4x fa-youtube wow bounceIn text-primary" id="social__link--youtube"></i>
                            <h3>Youtube</h3>
                            <p class="text-muted">Watch our videos</p><br />
                            <div class="g-ytsubscribe" data-channelid="UCpjA5A62NtsJF7p-TWBXO_A" data-layout="default" data-count="hidden"></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://www.youtube.com/channel/UCpjA5A62NtsJF7p-TWBXO_A">
                        <div class="service-box">
                            <i class="fa fa-4x fa-spotify wow bounceIn text-primary" id="social__link--spotify"></i>
                            <h3>Spotify</h3>
                            <p class="text-muted">Follow us on Spotify</p><br />
                            <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:3vXqMbFxBm2Hpabh94bTLK&size=basic&theme=light" width="134" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <a class="social__link" target="_blank" href="https://instagram.com/arcadianband">
                        <div class="service-box">
                                <i class="fa fa-4x fa-instagram wow bounceIn text-primary" id="social__link--twitter"></i>
                            <h3>Instagram</h3>
                            <p class="text-muted">Arcadian sneak peaks!</p><br />
                            <a href="https://www.instagram.com/arcadianband/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>


    <section class="bg-primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <hr class="light">
                    <p>Send us an email and we will get back to you as soon as possible</p>
                </div>

                <form id="contact-form">
                    <div class="form-group col-md-3 col-md-offset-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="6" name="message" placeholder="Message"></textarea>
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <div class="g-recaptcha" data-sitekey="6LdbURMTAAAAAE5BzHoWst9M8z7JgA-cmUFQZTA1"></div>
                    </div>

                    <div class="form-group col-md-6 col-md-offset-3">
                        <button type="submit" id="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>

                <div class="col-md-6 col-md-offset-3" id="form-message">
                    <p id="form-message-content">Text goes here</p>
                </div>

            </div>
        </div>
    </section>

    <div id="fb-root"></div>
    <script async src="https://apis.google.com/js/platform.js"></script>
    <script async src='https://www.google.com/recaptcha/api.js'></script>

    <script async>
    // Facebook like button
    (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Twitter follow button
    (function(d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';

        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs'));
    </script>
