    <header class="tinu">
        <div class="header-content">
            <div class="header-content-inner">
                <img class="logo-main" src="{{cdn}}/img/arcadian-long-logo.png" alt="arcadian logo">
                <h1>TINU</h1>
                <hr class="secondary-theme">
                <h2>This is Not Ultraviolet</h2>
            </div>
        </div>
    </header>


    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">This is Not Ultraviolet</h2>
                    <hr class="primary">
                    <h4>Click artwork to play tracks</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row music__artwork">

                <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                    <a data-sc-id="270707373" class="portfolio-box music__link" id="music__link--fashionstatement">
                        <div class="artwork">
                            <img src="{{cdn}}/img/music/fashionstatement.jpg" class="img-responsive" alt="Fashion Statement artwork">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        This is Not Ultraviolet
                                    </div>
                                    <div class="project-name">
                                        Fashion Statement
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="{{cdn}}/music/FashionStatement.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#fashionstatement">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-6">
                    <a data-sc-id="270708162" class="portfolio-box music__link" id="music__link--subtlety">
                        <div class="artwork">
                            <img src="{{cdn}}/img/music/subtlety.jpg" class="img-responsive" alt="Subtlety artwork">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        This is Not Ultraviolet
                                    </div>
                                    <div class="project-name">
                                        Subtlety
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="{{cdn}}/music/Subtlety.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#subtlety">Lyrics</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-6">
                    <a data-sc-id="270708453" class="portfolio-box music__link" id="music__link--lionsheart">
                        <div class="artwork">
                            <img src="{{cdn}}/img/music/lionsheart.jpg" class="img-responsive" alt="Lions Heart artwork">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        This is Not Ultraviolet
                                    </div>
                                    <div class="project-name">
                                        Lions Heart
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="music__artwork--download">
                        <a download class="btn btn-primary" href="{{cdn}}/music/LionsHeart.mp3">Download</a>
                        <a class="btn btn-primary" href="lyrics/#lionsheart">Lyrics</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
